.authentication-form-container {
  max-width: 400px;
  margin: 80px auto;
  color: var(--black);
  text-align: center;
  font-weight: 500;

  * {
    font-weight: inherit;
  }

  h2 {
    margin-bottom: 20px;
    color: var(--red);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    text-align: left;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--white);
    font-size: 1rem;
  }

  button,
  input {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .authentication-form-container {
    margin: 40px 10px;
    padding: 15px;
  }
}
