@media only screen and (max-width: 800px) {
  body {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }

  #order-container {
    grid-template-columns: 1fr;
  }

  #order {
    grid-column: 1;
  }

  #billing {
    grid-column: 1;
  }

  #main-nav {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 801px) {
  #commercials {
    flex-direction: row;
  }
}
