:root {
  --red: rgb(220, 20, 60);
  --brown: rgb(181, 150, 101);
  --black: rgb(40, 40, 40);
  --white: rgb(255, 255, 255);
  --light-blue-gray: rgb(156, 188, 200);
  --gradient: linear-gradient(
    to bottom right,
    var(--white),
    var(--light-blue-gray)
  );
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Shinkai-Ink-Font";
  src: url("../fonts/ShinkaiInk-MAX2x.otf") format("opentype");
}

#restaurant-name {
  font-family: "Shinkai-Ink-Font", sans-serif;
  line-height: 1;
}

#logo {
  clip-path: circle(50% at 50% 50%);
  width: 40%;
  height: 40%;
}

#hero-image {
  background-color: var(--light-gray);
  background-image: url("../img/tausta.jpg");
  height: 115vh;
  width: 100%;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#hero-text {
  text-align: center;
  position: absolute;
  /* Magic 🪄 */
  top: calc(50% + 127px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  h1 {
    font-size: 3em;
    line-height: 1.5;
  }
  h3 {
    color: var(--red);
    font-size: 1.5em;
    font-weight: 500;
  }
  p {
    font-size: 1em;
  }
  a {
    font-weight: 550;
  }
}

#lunch-sale-img {
  clip-path: circle(50% at 50% 50%);
  width: 25%;
  height: 25%;
}

#commercials {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

#lunch-price {
  text-decoration-line: line-through;
}

#sale-lunch-price {
  color: var(--red);
  font-size: 2em;
  font-weight: 650;
}

.shopping-cart-page {
  padding: 25px;
}

.containers {
  background: var(--gradient);
  border-radius: 12px;
  padding: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 1em;
}

.grid-column-1 {
  grid-column: 1;
}

.grid-column-2 {
  grid-column: 1;
}

.commercial-container h1 {
  color: var(--red);
  font-weight: 500;
}

.center {
  width: 50%;
  margin: 0 auto;
}

.buttons {
  cursor: pointer;
  background-color: var(--red);
  color: var(--white);
  font-size: 1em;
  border-radius: 30px;
  padding: 0.5em;
  border: solid 3px var(--red);
  &:hover {
    box-shadow: 0 0 10px var(--red);
  }
}

.text-link {
  color: var(--red);
}

.main-menu li {
  transition: 0.2s ease-in-out;
  &:hover {
    transform: translateY(-0.2rem);
  }
}

input[type="radio"] {
  accent-color: var(--red);
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  cursor: pointer;
}
