<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Restaurant, Japanese restaurant" />
    <meta name="description" content="Japanese restaurant" />
    <title>Thank-you-for-ordering</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/media-queries.css" />
    <script
      src="https://kit.fontawesome.com/690006849c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/navigation-bar.ejs') %>

    <main>
      <article class="containers center">
        <h2>Kiitos tilauksestasi!</h2>
        <h3>
          Tilausnumerosi on tilausnumero000 ja saat tilausvahvistuksen
          sähköpostiisi josta näet noutoliikkeen sijainnin ja hakuajan. Ota
          tilausvahvistus kassalle mukaan.
        </h3>

        <li>
          <a href="/" class="text-link"> Siirry etusivulle </a>
        </li>
      </article>
    </main>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
