<footer>
  <section id="footer-restaurant-information">
    <h1>Tietoa meistä</h1>
    <p>
      Olemme japanilaista ruokaa tarjoava pieni ravintola Espoosta, löydät
      meiltä kattavan valikoiman erilaisia herkullisia ruokia pääruoista
      jälkiruokiin. Nettisivuiltamme voit tilata kätevästi haluamasi ruoat ja
      lopuksi noutaa tilauksesi liikkeestämme. <br />
      Olemme avoinna ma-la klo 10-19.
    </p>
  </section>
  <section id="footer-social-media">
    <h1>Sosiaalinen media</h1>
    <div id="social-media-icons">
      <i class="fa-xl fa-brands fa-facebook"></i>
      <i class="fa-xl fa-brands fa-bluesky"></i>
      <i class="fa-xl fa-brands fa-instagram"></i>
    </div>
  </section>
  <section id="footer-api-map">
    <h1>Apimäppi</h1>
    <p>leafletil yms feikkisijainti</p>
  </section>
</footer>
