<select
  id="order-status-<%= order.restaurant_order_id %>"
  class="order-status"
  data-order-id="<%= order.restaurant_order_id %>"
  data-current-status="<%= order.restaurant_order_status %>"
>
  <option value="pending">Odottaa k채sittely채</option>
  <option value="in-progress">K채sittelyss채</option>
  <option value="complete">Valmis</option>
</select>
